<a routerLink="/" class="hidden-md-down">
  <img src="assets/img/logo-light.png" alt="" class="admin-sidebar-logo">
</a>

<div class="dashboard-nav-primary collapse navbar-toggleable-md">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a routerLink="/profile" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
        <i class="md-icon">dashboard</i> Lövhə</a>
    </li>

    <li class="nav-item">
      <a routerLink="/profile/my-timeline" routerLinkActive="active" class="nav-link">
        <i class="md-icon">view_list</i> Tarİxçəm
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/profile/settings" routerLinkActive="active" class="nav-link">
        <i class="md-icon">settings</i> Tənzİmləmələr</a>
    </li>
  </ul>
</div>
