<div class="page-wrapper">

  <app-header class="header-wrapper"></app-header>

  <div class="main-wrapper">
    <div class="main">

      <div class="main-inner">


        <div class="content">
          <div class="container">
            <div class="row">
              <div class="warning">
                <h1>404</h1>
                <p>Səhifə tapılmadı</p>

                <hr>

                <a routerLink="/" class="btn btn-secondary btn-large">
                  <i class="fa fa-long-arrow-left"></i> Əsas səhifəyə qayıt</a>
              </div>
              <!-- /.warning -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.content -->
      </div>

    </div>
  </div>

  <app-footer class="footer-wrapper"></app-footer>

</div>
