<div class="container reset-form">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <form method="post">
        <div class="form-group">
          <label>E-poçt ünvanınız</label>
          <input type="text" class="form-control">
        </div>
        <!-- /.form-group -->

        <div class="form-group-btn">
          <button type="submit" class="btn btn-primary btn-block">Şİfrənİ dəyİş</button>
        </div>
        <!-- /.form-group-btn -->

        <div class="form-group-bottom-link">
          <a routerLink="/">
            <i class="fa fa-long-arrow-left"></i> Əsas səhifəyə qayıt</a>
        </div>
        <!-- /.form-group-bottom-link -->
      </form>
    </div>
    <!-- /.col-* -->
  </div>
  <!-- /.row -->
</div>
