<div class="header">
  <div class="header-inner">
    <div class="header-top">
      <div class="container">
        <a routerLink="/">
          <img src="http://www.umw.edu/news/wp-content/uploads/sites/7/2012/10/our-time-logo.jpg" alt="..." class="header-top-logo">
        </a>

        <div class="nav-primary-wrapper collapse navbar-toggleable-sm" [ngClass]="{ 'in' : menuOpen }">
          <ul class="nav nav-pills ">

            <li class="nav-item has-submenu">
              <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">ƏSAS SƏHİFƏ</a>
            </li>

            <li class="nav-item has-submenu">
              <a routerLink="/search" routerLinkActive="active" class="nav-link">ƏTRAFLI AXTARIŞ</a>
            </li>

            <li class="nav-item has-submenu">
              <a routerLink="/timelines" routerLinkActive="active" class="nav-link">TARİXÇƏLƏR</a>
            </li>

            <li class="nav-item has-submenu">
              <a routerLink="/about" routerLinkActive="active" class="nav-link">HAQQIMIZDA</a>
            </li>

            <li class="nav-item has-submenu">
              <a routerLink="/joinus" routerLinkActive="active" class="nav-link">BİZƏ QOŞUL</a>
            </li>

            <li class="nav-item has-submenu">
              <a routerLink="/faq" routerLinkActive="active" class="nav-link">FAQ</a>
            </li>

          </ul><!-- /.nav -->
        </div><!-- /.nav-primary-wrapper -->

        <ul class="nav nav-pills secondary">
          <li class="nav-item" title="Hesaba daxil olun" *ngIf="!data.token">
            <a routerLink="/login" class="nav-link circle"><i class="md-icon">exit_to_app</i></a>
          </li>
          <li class="nav-item" title="Qeydiyyatdan keçin" *ngIf="!data.token">
            <a routerLink="/registration" class="nav-link circle"><i class="md-icon">person_add</i></a>
          </li>
          <li class="nav-item user-avatar-wrapper" *ngIf="data.token">
            <a href="#" class="nav-link circle user-avatar-image" style="background-image: url('http://dcbil.se/wp-content/uploads/2015/09/man_blue.jpg')"></a>
            <ul class="header-more-menu">
              <li><a routerLink="/profile">Şəxsi kabinet</a></li>
              <li><a routerLink="/profile/settings">Tənzimləmələr</a></li>
              <li><a routerLink="/profile/my-timeline">Tarixçəm</a></li>
              <li><a (click)="logout()">Çıxış</a></li>
            </ul>
          </li>
        </ul>

        <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" (click)="toggleMenu()">
          <i class="md-icon">menu</i>
        </button>
      </div><!-- /.container -->
    </div><!-- /.header-top -->
  </div><!-- /.header-inner -->
</div><!-- /.header -->
