<div class="footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-left">
        "ADA" Universiteti, İnformasiya Texnologiyaları və Mühəndislik Fakültəsi
      </div><!-- /.footer-bottom-left -->

      <div class="footer-bottom-right">
        Copyright &copy; 2018 - Bütün hüquqları qorunur
      </div><!-- /.footer-bottom-right -->
    </div><!-- /.container -->
  </div><!-- /.footer-bottom -->
</div><!-- /.footer -->
