<div class="admin-header-navigation">
  <div class="container-fluid">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Əsas səhİfə</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" class="nav-link">Haqqımızda</a>
      </li>
      <li class="nav-item">
        <a routerLink="/faq" class="nav-link">FAQ</a>
      </li>
    </ul>

    <ul class="nav nav-pills secondary">
      <li class="nav-item" title="Hesaba daxil olun" *ngIf="!data.token">
        <a routerLink="/login" class="nav-link circle"><i class="md-icon">exit_to_app</i></a>
      </li>
      <li class="nav-item" title="Qeydiyyatdan keçin" *ngIf="!data.token">
        <a routerLink="/registration" class="nav-link circle"><i class="md-icon">person_add</i></a>
      </li>
      <li class="nav-item user-avatar-wrapper" *ngIf="data.token">
        <a href="#" class="nav-link circle user-avatar-image" style="background-image: url('http://dcbil.se/wp-content/uploads/2015/09/man_blue.jpg')"></a>
        <ul class="header-more-menu">
          <li><a routerLink="/profile">Şəxsi kabinet</a></li>
          <li><a routerLink="/profile/settings">Tənzimləmələr</a></li>
          <li><a routerLink="/profile/my-timeline">Tarixçəm</a></li>
          <li><a (click)="logout()">Çıxış</a></li>
        </ul>
      </li>
    </ul>

    <button class="navbar-toggler pull-xs-right hidden-lg-up" type="button">
      <i class="md-icon">menu</i>
    </button>
  </div>
  <!-- /.container -->
</div>
<!-- /.admin-header-navigation -->
