<a routerLink="/" class="return-back">
  <i class="fa fa-long-arrow-left"></i> Geri qayıt
</a>

<div class="container registration-form">
  <div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <app-message></app-message>
      </div>
    </div>
    <div class="row">
      <!-- /.col-* -->
      <div class="col-lg-5 col-lg-offset-1">
        <div class="form-group">
          <label>Ad</label>
          <input type="text" name="name" class="form-control" [(ngModel)]="name">
        </div>
        <!-- /.form-group -->

        <div class="form-group">
          <label>Soyad</label>
          <input type="text" name="surname" class="form-control" [(ngModel)]="surname">
        </div>
        <!-- /.form-group -->

        <div class="form-group">
          <label>E-poçt</label>
          <input type="email" name="email" class="form-control" [(ngModel)]="email">
        </div>
        <!-- /.form-group -->

        <div class="form-group">
          <label>Ərazİ</label>
          <select class="form-control" name="locationId" [(ngModel)]="locationId">
            <option *ngFor="let location of locations" [value]="location.id">{{ location.name }}</option>
          </select>
        </div>
        <!-- /.form-group -->
      </div>
      <!-- /.col-* -->
      <div class="col-lg-5">

        <div class="form-group">
          <label>İstİfadəçİ adı</label>
          <input type="text" name="username" class="form-control" [(ngModel)]="username">
        </div>
        <!-- /.form-group -->

        <div class="form-group">
          <label>Şİfrə</label>
          <input type="password" name="password" class="form-control" [(ngModel)]="password">
        </div>
        <!-- /.form-group -->

        <div class="form-group">
          <label>Şİfrənİn təkrarı</label>
          <input type="password" name="passwordConf" class="form-control" [(ngModel)]="passwordConf">
        </div>
        <!-- /.form-group -->

        <div class="center">
          <div class="checkbox">
            <label>
              <div class="checkbox-wrapper" [ngClass]="{'checked': agreed}">
                <input type="checkbox" [(ngModel)]="agreed">
              </div>
              Düyməni sıxmaqla siz
              <a routerLink="/terms-and-conditions">şərtlər və qaydaları</a> qəbul etmiş olursunuz.
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group-btn">
            <button type="submit" class="btn btn-primary"  (click)="register()" [disabled]="btnDisabled">Qeydİyyatdan keç</button>
          </div>
          <!-- /.form-group-btn -->
        </div>
        <!-- /.center -->
      </div>
      <!-- /.col-* -->
    </div>
    <!-- /.row -->
  </div>
</div>

