<div class="page-wrapper">

  <app-header class="header-wrapper"></app-header>

  <div class="main-wrapper">
    <div class="main">

      <div class="main-inner">

        <div class="content-title">
          <div class="container">
            <h1>Ətraflı axtarış</h1>

            <ul class="breadcrumb">
              <li>
                <a routerLink="/">Əsas səhifə</a>
                <i class="md-icon">keyboard_arrow_right</i>
              </li>


              <li class="active">Ətraflı axtarış</li>

            </ul>
            <!-- /.breadcrumb -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.content-title -->


        <div class="container">
          <div class="row">
            <div class="col-md-4 col-lg-3">

              <div class="push-top-bottom">
                <div class="filter">
                  <div>

                    <div class="form-group">
                      <label>Ərazİ</label>

                      <select class="form-control" [(ngModel)]="location">
                        <option *ngFor="let location of locations" value="{{ location.id }}">{{ location.name }}</option>
                      </select>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                      <label>Kateqorİya</label>

                      <select class="form-control" [(ngModel)]="category">
                        <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
                      </select>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                      <label>Müəllİf</label>

                      <select class="form-control" [(ngModel)]="author">
                        <option *ngFor="let author of authors" value="{{ author.id }}">{{ author.name }} {{ author.surname }}</option>
                      </select>
                    </div>
                    <!-- /.form-group -->

                    <div class="checkbox">
                      <label>
                        <div class="checkbox-wrapper" [ngClass]="{'checked':searchInContent}">
                          <input type="checkbox" [(ngModel)]="searchInContent">
                        </div>
                        Bütün mətndə axtar
                      </label>
                    </div>
                    <!-- /.checkbox -->

                    <div class="form-group-btn form-group-btn-placeholder-gap">
                      <button type="submit" (click)="search()" class="btn btn-primary btn-block">FİLTERLƏ</button>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group-btn form-group-btn-placeholder-gap" style="margin-top: 10px;">
                      <button type="submit" (click)="reset()" class="btn btn-block">SIFIRLA</button>
                    </div>
                    <!-- /.form-group -->
                  </div>
                </div>
                <!-- /.filter -->
              </div>
              <!-- /.container -->

            </div>
            <div class="col-md-8 col-lg-9">
              <div class="content">
                <div class="push-top-bottom">

                  <div class="filter filter-white">
                    <div class="row">

                      <div class="col-md-10">
                        <div class="form-group">
                          <input type="text" name="searchTerm" (keyup.enter)="search()" [(ngModel)]="searchTerm" class="form-control" placeholder="Axtarış mətni">
                        </div>
                        <!-- /.form-group -->
                      </div>
                      <!-- /.col-* -->

                      <div class="col-md-2">
                        <div class="form-group-btn form-group-btn-placeholder-gap">
                          <button type="submit" (click)="search()" class="btn btn-primary btn-block">Axtar</button>
                        </div>
                        <!-- /.form-group -->
                      </div>
                      <!-- /.col-* -->
                    </div>
                    <!-- /.row -->
                    <div class="row filter-options">
                      <div class="col-md-12 col-lg-12">
                        <ion-range-slider #sliderElement
                                          [type]="'double'"
                                          [min]="startDate"
                                          [max]="endDate"
                                          [from]="startDate"
                                          [to]="endDate"
                                          [min_interval]="minInterval"
                                          [prettify]="prettify"
                                          [grid]="true"
                                          [grid_num]="10"
                                          (onFinish)="onFinish($event)"></ion-range-slider>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>

                  <div class="posts" *ngIf="isFetching" style="text-align: center; padding: 30px;">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                  </div>

                  <div class="posts">
                    <app-message></app-message>
                  </div>

                  <div class="posts" *ngIf="searchResults && searchResults.length > 0 && !isFetching">

                    <div class="post" *ngFor="let article of searchResults">

                      <div class="post-title">
                        <h2>
                          <a routerLink="/article/{{article.id}}">{{ article.name }}</a>
                        </h2>
                      </div>
                      <!-- /.post-title -->

                      <div class="post-meta">
                        <div class="post-meta-item">
                          Müəllif
                          <a routerLink="/search" [queryParams]="{author: article.authorId.id}">{{ article.authorId.name }} {{ article.authorId.surname }}</a>
                        </div>
                        <!-- /.post-meta-item -->

                        <div class="post-meta-item">
                          <i class="fa fa-calendar"></i> {{ article.dateHappened | date:'dd/MM/yyyy' }}
                        </div>
                        <!-- /.post-meta-item -->

                        <div class="post-meta-item">
                          <i class="fa fa-list-alt"></i>
                          <a routerLink="/search" [queryParams]="{category:article.categoryId.id}">{{ article.categoryId.name }}</a>
                        </div>
                        <!-- /.post-meta-item -->

                        <div class="post-meta-item">
                          <i class="fa fa-map-marker"></i>
                          <a routerLink="/search" [queryParams]="{location:article.locationId.id}">{{ article.locationId.name }}</a>
                        </div>

                      </div>
                      <!-- /.post-meta -->

                      <div class="post-content">
                        <p>
                          {{ article.content | slice:1:300 }}
                        </p>
                      </div>
                      <!-- /.post-content -->

                      <div class="post-read-more">
                        <a routerLink="/article/{{article.id}}">Ətraflı oxu
                          <i class="fa fa-chevron-right"></i>
                        </a>
                      </div>
                      <!-- /.post-read-more -->
                    </div>
                    <!-- /.post-->

                  </div>
                  <!-- /.posts-->

                  <nav class="pagination-wrapper" *ngIf="pageNums.length > 1">
                    <ul class="pagination">
                      <li *ngIf="currenctPage == 1" class="page-item disabled">
                        <a class="page-link">
                          <span>&laquo;</span>
                          <span class="sr-only">Əvvəlki</span>
                        </a>
                      </li>
                      <li *ngIf="currenctPage != 1" class="page-item">
                        <a class="page-link" (click)="goToPage(currenctPage - 1)">
                          <span>&laquo;</span>
                          <span class="sr-only">Əvvəlki</span>
                        </a>
                      </li>

                      <li class="page-item {{ currenctPage == page ? 'active' : '' }}" *ngFor="let page of pageNums">
                        <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
                      </li>

                      <li *ngIf="currenctPage !== pageNums.length" class="page-item">
                        <a class="page-link" (click)="goToPage(currenctPage + 1)">
                          <span>&raquo;</span>
                          <span class="sr-only">Növbəti</span>
                        </a>
                      </li>
                      <li *ngIf="currenctPage == pageNums.length" class="page-item disabled">
                        <a class="page-link">
                          <span>&raquo;</span>
                          <span class="sr-only">Növbəti</span>
                        </a>
                      </li>
                    </ul>
                  </nav>

                </div>
                <!-- /.container -->
              </div>
              <!-- /.content -->
            </div>
            <!-- /.col-* -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>

    </div>
  </div>

  <app-footer class="footer-wrapper"></app-footer>

</div>
