
<div class="page-wrapper">

  <app-header class="header-wrapper"></app-header>

  <div class="main-wrapper">
    <div class="main">

      <div class="main-inner">

        <div class="content-title" *ngIf="article!=null">

          <div class="container">

            <h1>{{ article.name }}</h1>

            <ul class="breadcrumb">

              <li>
                <a routerLink="/">Əsas səhifə</a>
                <i class="md-icon">keyboard_arrow_right</i>
              </li>

              <li class="active">{{ article.name }}</li>

            </ul>
            <!-- /.breadcrumb -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.content-title -->


        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="content">
                <div class="container push-top-bottom">

                  <app-message></app-message>

                  <div *ngIf="isFetching" class="post-detail" style="text-align: center;">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                  </div>

                  <div *ngIf="!isFetching && article!=null" class="post-detail" [innerHTML]="article.content">

                  </div>
                  <!-- /.post-detail -->
                </div>
                <!-- /.container -->
              </div>
              <!-- /.content -->
            </div>
            <!-- /.col-* -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>

    </div>
  </div>

  <app-footer class="footer-wrapper"></app-footer>

</div>
