<div class="page-wrapper">

  <app-header class="header-wrapper"></app-header>

  <div class="main-wrapper">

    <div class="main">

      <div class="main-inner">

        <div class="content">

          <div class="hero hero-animate">

            <div class="hero-form">
              <div class="container">
                <form>
                  <div class="input-group col-sm-12 col-md-10">
                    <div class="input-group-addon">
                      <i class="md-icon">search</i>
                    </div><!-- /.input-group-addon -->

                    <input type="text" name="searchTerm" class="form-control" (keyup.enter)="search()" [(ngModel)]="searchTerm" placeholder="Açar sözlərinin daxil edərək axtarış edin">
                  </div><!-- /.input-group  -->

                  <div class="form-group last col-sm-12 col-md-2">
                    <button type="submit" class="btn btn-primary btn-block" (click)="search()">Axtar</button>
                  </div><!-- /.col-* -->

                </form>

                <div class="hero-form-sub">
                  <strong class="hidden-sm-down">Yaxud kateqoriyaya görə axtarın</strong>
                  <ul>
                    <li>
                      <a (click)="search(15)">Ölkələr</a>
                    </li>
                    <li>
                      <a (click)="search(6)">Yazıçılar</a>
                    </li>
                    <li>
                      <a (click)="search(7)">Xanlıqlar</a>
                    </li>
                    <li>
                      <a (click)="search(4)">Müqavilələr</a>
                    </li>
                  </ul>
                </div>

              </div><!-- /.container -->
            </div><!-- /.hero-form -->

            <div class="hero-layer"></div>

          </div><!-- /.hero -->

          <div class="container">

            <div class="posts" *ngIf="isFetching" style="text-align: center; padding: 30px;">
              <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>

            <div class="posts">
              <app-message></app-message>
            </div>

            <div class="posts" *ngIf="searchResults && searchResults.length > 0 && !isFetching">

              <div class="post" *ngFor="let page of searchResults">

                <div class="post-title">
                  <h2>
                    <a routerLink="/timeline/{{page.id}}">{{ page.name }}</a>
                  </h2>
                </div>
                <!-- /.post-title -->

                <div class="post-meta">
                  <div class="post-meta-item">
                    Müəllif
                    <a routerLink="/search" [queryParams]="{author: page.authorId.id}">{{ page.authorId.name }} {{ page.authorId.surname }}</a>
                  </div>
                  <!-- /.post-meta-item -->

                  <div class="post-meta-item">
                    <i class="fa fa-list-alt"></i>
                    <a (click)="search(page.categoryId.id)">{{ page.categoryId.name }}</a>
                  </div>
                  <!-- /.post-meta-item -->

                </div>
                <!-- /.post-meta -->

                <div class="post-content">
                  <p>
                    {{ page.content }}
                  </p>
                </div>
                <!-- /.post-content -->

                <div class="post-read-more">
                  <a routerLink="/timeline/{{page.id}}">Tarixçəni göstər
                    <i class="fa fa-chevron-right"></i>
                  </a>
                </div>
                <!-- /.post-read-more -->
              </div>
              <!-- /.post-->

            </div>
            <!-- /.posts-->

            <nav class="pagination-wrapper" *ngIf="pageNums.length > 1">
              <ul class="pagination">
                <li *ngIf="currenctPage == 1" class="page-item disabled">
                  <a class="page-link">
                    <span>&laquo;</span>
                    <span class="sr-only">Əvvəlki</span>
                  </a>
                </li>
                <li *ngIf="currenctPage != 1" class="page-item">
                  <a class="page-link" (click)="goToPage(currenctPage - 1)">
                    <span>&laquo;</span>
                    <span class="sr-only">Əvvəlki</span>
                  </a>
                </li>

                <li class="page-item {{ currenctPage == page ? 'active' : '' }}" *ngFor="let page of pageNums">
                  <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
                </li>

                <li *ngIf="currenctPage !== pageNums.length" class="page-item">
                  <a class="page-link" (click)="goToPage(currenctPage + 1)">
                    <span>&raquo;</span>
                    <span class="sr-only">Növbəti</span>
                  </a>
                </li>
                <li *ngIf="currenctPage == pageNums.length" class="page-item disabled">
                  <a class="page-link">
                    <span>&raquo;</span>
                    <span class="sr-only">Növbəti</span>
                  </a>
                </li>
              </ul>
            </nav>

          </div>

        </div><!-- /.content -->
      </div>

    </div>
  </div>

  <app-footer class="footer-wrapper"></app-footer>

</div>
