.hero {
  height: 250px;
  background-image: url("http://1905.az/wp-content/uploads/2015/12/20150908_123944.jpg");
}

.hero-form {
  background-color: transparent;
}

.post, .widget {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.post {
  margin: 0 0 30px 0;
}

.hero-form-sub a:hover {
  cursor: pointer;
}
