<div class="page-wrapper">

  <app-header class="header-wrapper"></app-header>

  <div class="main-wrapper">

    <div class="main">

      <div class="main-inner">


        <div class="content">
          <div class="content-title" *ngIf="page!=null">
            <div class="container">
              <h1>{{ page.name }}</h1>

              <ul class="breadcrumb">
                <li>
                  <a routerLink="/">Əsas səhifə</a>
                  <i class="md-icon">keyboard_arrow_right</i>
                </li>

                <li>
                  <a routerLink="/timelines">Tarixçələr</a>
                  <i class="md-icon">keyboard_arrow_right</i>
                </li>

                <li class="active">{{ page.name }}</li>

              </ul>
              <!-- /.breadcrumb -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.content-title -->

          <div class="container">
            <div class="row">
              <div class="col-md-8 col-lg-9">
                <div class="push-top-bottom">

                  <app-message></app-message>

                  <div *ngIf="isFetching" class="listing-detail" style="text-align: center;">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                  </div>

                  <div class="listing-detail" *ngIf="!isFetching && page!=null">

                    <h2>{{ page.name }}</h2>

                    <p>
                      {{ page.content }}
                    </p>

                    <div class="opening-hours-wrapper">
                      <ion-range-slider #sliderElement
                                        [type]="'double'"
                                        [min]="startDate"
                                        [max]="endDate"
                                        [from]="startDate"
                                        [to]="endDate"
                                        [min_interval]="minInterval"
                                        [prettify]="prettify"
                                        [grid]="true"
                                        [grid_num]="10"
                                        (onFinish)="onFinish($event)"></ion-range-slider>
                    </div>
                    <!-- /.opening-hours-wrapper -->


                    <div class="filter">
                      <form method="get" action="?">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Location</label>

                              <select class="form-control">
                                <option>New York</option>
                                <option>Washington</option>
                              </select>
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <!-- /.col-* -->

                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Keyword</label>
                              <input type="text" class="form-control">
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <!-- /.col-* -->

                          <div class="col-md-2">
                            <div class="form-group">
                              <label>Price From</label>
                              <input type="text" class="form-control">
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <!-- /.col-* -->

                          <div class="col-md-2">
                            <div class="form-group">
                              <label>Price To</label>
                              <input type="text" class="form-control">
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <!-- /.col-* -->

                          <div class="col-md-2">
                            <div class="form-group-btn form-group-btn-placeholder-gap">
                              <button type="submit" class="btn btn-primary btn-block">FİLTERLƏ</button>
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <!-- /.col-* -->
                        </div>
                        <!-- /.row -->
                        <div class="row filter-options">
                          <div class="col-sm-6">
                            <div class="filter-sort">
                              <strong>Sort By</strong>

                              <div class="checkbox-inline">
                                <label>
                                  <input type="checkbox" name="filter-form-order" checked="checked"> Price</label>
                              </div>
                              <!-- /.checkbox -->

                              <div class="checkbox-inline">
                                <label>
                                  <input type="checkbox" name="filter-form-order" checked="checked"> Published</label>
                              </div>
                              <!-- /.checkbox -->
                            </div>
                            <!-- /.filter-sort -->
                          </div>
                          <!-- /.row -->

                          <div class="col-sm-6">
                            <div class="filter-order">
                              <strong>Order By</strong>

                              <div class="checkbox-inline">
                                <label>
                                  <input type="radio" name="filter-form-order" checked="checked"> Asc</label>
                              </div>
                              <!-- /.checkbox -->

                              <div class="checkbox-inline">
                                <label>
                                  <input type="radio" name="filter-form-order"> Desc</label>
                              </div>
                              <!-- /.checkbox -->
                            </div>
                            <!-- /.filter-order -->
                          </div>
                          <!-- /.col-* -->
                        </div>
                        <!-- /.row -->
                      </form>
                    </div>
                    <!--./filters -->


                  </div>
                  <!-- /.listing-detail -->
                </div>
                <!-- /.push-top-bottom -->
              </div>
              <!-- /.col-sm-9 -->

              <div class="col-md-4 col-lg-3">
                <div class="sidebar">
                  <div class="widget">
                    <div class="overview">
                      <ul>
                        <li>
                          <strong>Price</strong>
                          <span>180$ / person</span>
                        </li>
                        <li>
                          <strong>Location</strong>
                          <span>New York</span>
                        </li>
                        <li>
                          <strong>Category</strong>
                          <span>Restaurant</span>
                        </li>
                        <li>
                          <strong>Rating</strong>
                          <span>4.2 by 2 users</span>
                        </li>
                        <li>
                          <strong>Phone</strong>
                          <span>+1-234-567-890</span>
                        </li>
                        <li>
                          <strong>Website</strong>
                          <span>
															<a href="http://example.com">example.com</a>
														</span>
                        </li>
                      </ul>
                    </div>
                    <!-- /.overview -->
                  </div>
                  <!-- /.widget -->

                  <div class="widget">
                    <h2 class="widgettitle">Contact Information</h2>

                    <ul class="contact">
                      <li>
                        <i class="md-icon">email</i>
                        <a href="mailto:hi@example.com">hi@example.com</a>
                      </li>
                      <li>
                        <i class="md-icon">link</i>
                        <a href="#">example.com</a>
                      </li>
                      <li>
                        <i class="md-icon">phone</i> +01-23-456-789</li>
                      <li>
                        <i class="md-icon">location_on</i> 1900 Pico Blvd
                        <br>Santa Monica, CA</li>
                    </ul>
                  </div>
                  <!-- /.widget -->

                  <div class="widget widget-background-white">
                    <h3 class="widgettitle">Inquire Form</h3>

                    <form method="post" action="?">
                      <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" class="form-control">
                      </div>
                      <!-- /.form-group -->

                      <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" class="form-control">
                      </div>
                      <!-- /.form-group -->

                      <div class="form-group">
                        <label>Subject</label>
                        <input type="text" class="form-control">
                      </div>
                      <!-- /.form-group -->

                      <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" rows="4"></textarea>
                      </div>
                      <!-- /.form-group -->

                      <div class="form-group-btn">
                        <button type="submit" class="btn btn-primary btn-block btn-large">Send Message</button>
                      </div>
                      <!-- /.form-group-btn -->
                    </form>
                  </div>
                  <!-- /.widget -->
                </div>
                <!-- /.sidebar -->
              </div>
              <!-- /.col-* -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.main-inner -->

    </div>

  </div>

  <app-footer class="footer-wrapper"></app-footer>

</div>
