<a routerLink="/" class="return-back">
  <i class="fa fa-long-arrow-left"></i> Geri qayıt
</a>

<div class="container login-form">
  <div class="row">
    <div class="col-lg-5 col-lg-offset-4">
      <h2>Hesabınıza daxil olun</h2>

      <app-message></app-message>

      <div>
        <div class="form-group">
          <label>İstİfadəçİ adı</label>
          <input type="text" name="username" class="form-control" [(ngModel)]="username">
        </div>
        <!-- /.form-group -->

        <div class="form-group">
          <label>Şİfrə</label>
          <input type="password" name="password" class="form-control" [(ngModel)]="password">
        </div>
        <!-- /.form-group -->

        <div class="form-group-btn">
          <button type="submit" (click)="login()" class="btn btn-primary pull-right" [disabled]="btnDisabled">Daxİl ol</button>
        </div>
        <!-- /.form-group-btn -->

        <div class="form-group-bottom-link">
          <a routerLink="/reset-password">Şifrəmi unutmuşam
            <i class="fa fa-long-arrow-right"></i>
          </a>
        </div>
        <!-- /.form-group-bottom-link -->
      </div>
    </div>
    <!-- /.col-* -->
  </div>
  <!-- /.row -->
</div>
