<div class="admin-wrapper">

  <app-admin-menu class="admin-sidebar"></app-admin-menu>

  <div class="admin-main">

    <app-admin-header class="admin-header"></app-admin-header>

    <div class="admin-content">

      <div class="container-fluid">

        <div class="admin-title">
          <h1>Tarixçəm</h1>

          <ul class="breadcrumb">
            <li>
              <a routerLink="/">Əsas səhifə</a>
              <i class="md-icon">keyboard_arrow_right</i>
            </li>

            <li>
              <a routerLink="/profile">Lövhə</a>
              <i class="md-icon">keyboard_arrow_right</i>
            </li>

            <li class="active">Tarixçəm</li>

          </ul>
          <!-- /.breadcrumb -->
        </div>
        <!-- /.admin-title -->

        <app-message></app-message>

        <div class="admin-box">

        </div>
        <!-- /.admin-box -->

      </div>

    </div>
    <!-- /.admin-content -->
  </div>
  <!-- /.admin-main -->
</div>
<!-- ./admin-wrapper-->
