<div class="admin-wrapper">

  <app-admin-menu class="admin-sidebar"></app-admin-menu>

  <div class="admin-main">

    <app-admin-header class="admin-header"></app-admin-header>

    <div class="admin-content">
      <div class="container-fluid">
        <div class="admin-title">
          <h1>Şəxsi kabinetinizə xoş gəlmisiniz!</h1>

          <ul class="breadcrumb">
            <li>
              <a routerLink="/">Əsas səhifə</a>
              <i class="md-icon">keyboard_arrow_right</i>
            </li>

            <li class="active">Lövhə</li>

          </ul>
          <!-- /.breadcrumb -->
        </div>
        <!-- /.admin-title -->

        <div class="admin-stats">
          <div class="row">
            <div class="col-xs-12 col-lg-6 col-xl-3">
              <div class="admin-stat lime">
                <div class="admin-stat-icon">
                  <i class="md-icon">people</i>
                </div>
                <!-- /.admin-stat-icon -->

                <div class="admin-stat-content">
                  <h2>Bütün məqalələr</h2>
                  <h3>12,291</h3>
                </div>
                <!-- /.admin-stat-content -->
              </div>
              <!-- /.admin-stat -->
            </div>
            <!-- /.col-* -->

            <div class="col-xs-12 col-lg-6 col-xl-3">
              <div class="admin-stat blue">
                <div class="admin-stat-icon">
                  <i class="md-icon">search</i>
                </div>
                <!-- /.admin-stat-icon -->

                <div class="admin-stat-content">
                  <h2>Bütün axtarışlar</h2>
                  <h3>1,203</h3>
                </div>
                <!-- /.admin-stat-content -->
              </div>
              <!-- /.admin-stat -->
            </div>
            <!-- /.col-* -->

            <div class="col-xs-12 col-lg-6 col-xl-3">
              <div class="admin-stat purple">
                <div class="admin-stat-icon">
                  <i class="md-icon">storage</i>
                </div>
                <!-- /.admin-stat-icon -->

                <div class="admin-stat-content">
                  <h2>Of Listings</h2>
                  <h3>84,524</h3>
                </div>
                <!-- /.admin-stat-content -->
              </div>
              <!-- /.admin-stat -->
            </div>
            <!-- /.col-* -->

            <div class="col-xs-12 col-lg-6 col-xl-3">
              <div class="admin-stat brown">
                <div class="admin-stat-icon">
                  <i class="md-icon">message</i>
                </div>
                <!-- /.admin-stat-icon -->

                <div class="admin-stat-content">
                  <h2>Unread Messages</h2>
                  <h3>453</h3>
                </div>
                <!-- /.admin-stat-content -->
              </div>
              <!-- /.admin-stat -->
            </div>
            <!-- /.col-* -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.admin-stats -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.admin-content -->
  </div>
  <!-- /.admin-main -->
</div>
<!-- ./admin-wrapper-->
