
.box {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

//.content-title {
//  padding: 20px 0 !important;
//}

.login-form .form-control, .registration-form .form-control, .reset-form .form-control {
  padding: 0 16px !important;
  height: 50px !important;
}

$main_color: rgb(229, 57, 53);

.irs-from, .irs-to {
  background: $main_color !important;
}

.irs-bar {
  background: $main_color !important;
  border-bottom: 1px solid $main_color !important;
  border-top: 1px solid $main_color !important;
}

.ngui-auto-complete > ul li {
  padding: 10px !important;
  border-bottom: none !important;
  font-size: 15px;
  &:hover {
    cursor: pointer;
  }
}

