<div class="page-wrapper">

  <app-header class="header-wrapper"></app-header>

  <div class="main-wrapper">
    <div class="main">

      <div class="main-inner">


        <div class="content">
          <div class="content-title">
            <div class="container">
              <h1>Şərtlər və Qaydalar</h1>

              <ul class="breadcrumb">
                <li>
                  <a href="index.html">Əsas səhifə</a>
                  <i class="md-icon">keyboard_arrow_right</i>
                </li>


                <li class="active">Şərtlər və Qaydalar</li>

              </ul>
              <!-- /.breadcrumb -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.content-title -->

          <div class="container push-top-bottom">
            <ol>
              <li>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend aliquet nisl, id pretium mi
                  consectetur in. Integer
                  ultricies tristique pretium. Duis est magna, aliquam in pellentesque nec, semper non tortor. Maecenas
                  varius dapibus
                  posuere. Fusce pharetra nisi sed tortor congue blandit. Suspendisse mi orci, convallis ac turpis id,
                  vestibulum
                  tristique metus. In pellentesque lectus odio, a consequat lectus varius vel. Nulla eleifend arcu vel
                  malesuada
                  lacinia.
                </p>
              </li>

              <li>
                <p>
                  Pellentesque faucibus vehicula porta. Pellentesque rutrum tincidunt aliquet. Vivamus volutpat aliquam
                  nulla in suscipit.
                  Morbi dignissim sed libero id euismod. Mauris justo nulla, dignissim sit amet augue ut, aliquet
                  sollicitudin ligula.
                  Nunc fermentum imperdiet nisi nec elementum. Phasellus egestas pellentesque justo, non sodales libero
                  laoreet a.
                  Pellentesque lobortis sodales neque lacinia molestie. Donec eros turpis, dignissim a elit eget,
                  aliquet egestas
                  odio. Maecenas est arcu, pretium non gravida et, accumsan eget diam. Cras placerat turpis ac elit
                  pharetra dictum.
                  Maecenas orci mauris, ornare sit amet felis ut, ultrices dictum purus.
                </p>
              </li>

              <li>
                <p>
                  Nullam sed ornare sapien, sit amet porttitor nulla. Duis et magna vel est tempus vehicula vitae sit
                  amet enim. Sed vitae
                  ligula congue, luctus mauris eu, scelerisque felis. Quisque aliquet ornare nunc in viverra. Nullam
                  ornare molestie
                  ligula in luctus. Suspendisse ac cursus elit. Donec vel enim sit amet lorem vulputate condimentum. Sed
                  nec gravida
                  elit. Morbi et orci sagittis lorem suscipit porta. Nam scelerisque, massa vel volutpat volutpat, dui
                  leo consectetur
                  urna, non posuere purus sem quis justo.
                </p>
              </li>

              <li>
                <p>
                  Integer eget bibendum erat, et tempor diam. Pellentesque habitant morbi tristique senectus et netus et
                  malesuada fames ac
                  turpis egestas. Aenean ullamcorper ut ipsum vel egestas. Aenean ornare risus in lectus bibendum, sit
                  amet euismod
                  quam accumsan. Vestibulum nec ante in ipsum bibendum porta a ac est. Vestibulum cursus molestie ante,
                  eu bibendum
                  lectus tincidunt sit amet. Nullam adipiscing, tortor at porttitor venenatis, dolor felis sollicitudin
                  elit, ut
                  gravida nunc velit vitae mauris. Curabitur quis pulvinar arcu. Mauris nulla sem, feugiat at hendrerit
                  sed, accumsan
                  sit amet odio. Cras pharetra vehicula nunc eget bibendum. In iaculis diam eros, eu elementum ipsum
                  tincidunt euismod.
                </p>
              </li>

              <li>
                <p>
                  Sed ornare quam in massa iaculis sagittis sit amet eu arcu. Nulla facilisi. Sed diam augue, hendrerit
                  in adipiscing ac, congue
                  sit amet tellus. Sed quis rhoncus ante. Curabitur a ligula hendrerit, volutpat nisi nec, vehicula
                  nisi. Vestibulum
                  vestibulum lorem ligula, non dignissim lacus consequat lobortis. Pellentesque sem purus, consequat et
                  arcu ac,
                  fermentum laoreet sapien. Praesent sed leo nec tellus ultrices auctor vestibulum a metus. Curabitur
                  sed urna sit
                  amet tortor fringilla ullamcorper sed sed velit.
                </p>
              </li>
            </ol>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.content -->
      </div>

    </div>
  </div>

  <app-footer class="footer-wrapper"></app-footer>

</div>
