<div class="page-wrapper">

  <app-header class="header-wrapper"></app-header>

  <div class="main-wrapper">
    <div class="main">

      <div class="main-inner">

        <div class="content">
          <div class="hero hero-animate">

            <div class="hero-content">
              <div class="container">
                <h1>Tarixçəm</h1>

                <p>
                  Yüz minlərlə tarixi məlumat arasından istədiyini asanlıqla əldə et. Axtarmağa başla!
                </p>

              </div>
              <!-- /.container -->
            </div>
            <!-- /.hero-content -->

            <div class="hero-form ">
              <div class="container">
                <form>

                  <div class="input-group col-sm-12 col-md-10">
                    <div class="input-group-addon">
                      <i class="md-icon">search</i>
                    </div><!-- /.input-group-addon -->

                    <input type="text" name="searchTerm" class="form-control" ([ngModel])="searchTerm"
                           ngui-auto-complete
                           [source]="virtualServer"
                           [list-formatter]="format"
                           (ngModelChange)="onArticleSelect($event)"
                           (customSelected)="search($event)"
                           no-match-found-text="Nəticə tapılmadı"
                           loading-text="Yüklənir..."
                           min-chars="1"
                           placeholder="Açar sözlərinin daxil edərək axtarış edin">
                  </div><!-- /.input-group  -->

                  <div class="form-group last col-sm-12 col-md-2">
                    <button type="submit" class="btn btn-primary btn-block" (click)="searchByButton()">Axtar</button>
                  </div><!-- /.col-* -->

                </form>

                <div class="hero-form-sub">
                  <strong class="hidden-sm-down">Yaxud kateqoriyaya görə axtarın</strong>

                  <ul>
                    <li>
                      <a routerLink="/search" [queryParams]="{category: 1}">Döyüşlər</a>
                    </li>
                    <li>
                      <a routerLink="/search" [queryParams]="{category: 2}">Üsyanlar</a>
                    </li>
                    <li>
                      <a routerLink="/search" [queryParams]="{category: 3}">Soyqırımlar</a>
                    </li>
                    <li>
                      <a routerLink="/search" [queryParams]="{category: 9}">Zəlzələlər</a>
                    </li>
                  </ul>
                </div>

              </div><!-- /.container -->
            </div><!-- /.hero-form -->

            <div class="hero-layer"></div>
          </div><!-- /.hero -->

          <div class="container">
            <div class="page-title">
              <h2>Tövsiyyə edilən kateqoriyalar</h2>
            </div><!-- /.page-title -->

            <div class="cards-wrapper">
              <app-message></app-message>

              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <div class="posts" *ngIf="isFetching" style="text-align: center; padding: 30px;">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-xs-12 col-sm-6 col-lg-3" *ngFor="let category of categories">
                  <div class="card">
                    <div class="card-image small no-line" [ngStyle]="{ 'background-image': 'url(' + category.imgPath + ')'}">
                      <a routerLink="/search" [queryParams]="{category: category.categoryId}"></a>

                      <div class="card-image-count">
                        <strong>{{ category.articleCount }}</strong>
                        <span>məqalə</span>
                      </div><!-- /.card-image-count -->
                    </div><!-- /.card-image -->

                    <div class="card-content">
                      <h2>
                        <a routerLink="/search" [queryParams]="{category: category.categoryId}">{{ category.categoryName }}</a>
                        <a routerLink="/search" [queryParams]="{category: category.categoryId}" class="btn btn-transparent">Hamısına bax</a>
                      </h2>
                    </div><!-- /.card-content -->
                  </div><!-- /.card -->
                </div><!-- /.col-* -->

              </div><!-- /.row -->
            </div><!-- /.cards-wrapper -->
          </div><!-- /.container -->

        </div><!-- /.content -->
      </div>

    </div>
  </div>

  <app-footer class="footer-wrapper"></app-footer>

</div>
