<div class="admin-wrapper">

  <app-admin-menu class="admin-sidebar"></app-admin-menu>

  <div class="admin-main">

    <div class="admin-content">
      <div class="container-fluid">
        <div class="admin-title">
          <h1>Tənzimləmələr</h1>

          <ul class="breadcrumb">
            <li>
              <a routerLink="/">Əsas səhifə</a>
              <i class="md-icon">keyboard_arrow_right</i>
            </li>

            <li>
              <a routerLink="/profile">Lövhə</a>
              <i class="md-icon">keyboard_arrow_right</i>
            </li>

            <li class="active">Tənzimləmələr</li>

          </ul>
          <!-- /.breadcrumb -->
        </div>
        <!-- /.admin-title -->

        <div class="admin-box">
          <fieldset>
            <legend>Şəxsi məlumatlar</legend>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Ad</label>
                  <input type="text" class="form-control" value="{{ name }}">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col-* -->

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Soy ad</label>
                  <input type="text" class="form-control" value="{{ surname }}">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col-* -->

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Ərazİ</label>
                  <input type="text" class="form-control" value="{{ location }}">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col-* -->
            </div>
            <!-- /.row -->
          </fieldset>

          <fieldset>
            <legend>Şifrəni dəyiş</legend>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Carİ şİfrə</label>
                  <input type="text" class="form-control">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col-* -->

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Yenİ şİfrə</label>
                  <input type="text" class="form-control">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col-* -->

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Tərkrarı</label>
                  <input type="text" class="form-control">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col-* -->
            </div>
            <!-- /.row -->
          </fieldset>

        </div>
        <!-- /.admin-box -->
      </div>
      <!-- /.container-fluid -->
    </div>

    <!-- /.admin-content -->
  </div>
  <!-- /.admin-main -->
</div>
